<div class="bouton-ajout-container" (click)="openModal()">
  <button mat-raised-button color="primary">Ajouter un utilisateur</button>
</div>
<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Filtre prenom</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Trier les résultas sur la colonne</mat-label>
    <mat-select>
      <mat-option [value]="undefined">Pas de tri</mat-option>
      <mat-option *ngFor="let col of displayedColumns" [value]="col">{{col}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Couleur</mat-label>
    <mat-select>
      <mat-option [value]="undefined">Tous</mat-option>
      <mat-option value="red">Rouge</mat-option>
      <mat-option value="green">Vert</mat-option>
      <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button color="primary">
    <mat-icon>restart_alt</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> Prenom </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="couleur">
    <th mat-header-cell *matHeaderCellDef> Couleur préférée </th>
    <td mat-cell *matCellDef="let element"> {{element.couleur}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="hero">
    <th mat-header-cell *matHeaderCellDef> Personne ou personnage préféré </th>
    <td mat-cell *matCellDef="let element"> {{element.hero}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
