/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fw {
  display: flex;
  width: 100%;
  flex-direction: column;
}
