<h1 mat-dialog-title>Formulaire Utilisateur</h1>
<div mat-dialog-content>
  <div class="form-container">
    <form [formGroup]="userForm">
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <mat-error *ngIf="userForm.controls['prenom']?.errors?.['required']">Champ obligatoire</mat-error>
        <input matInput id="prenom" type="text" formControlName="prenom" placeholder="Saisir votre login">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <mat-error *ngIf="userForm.controls['age']?.errors?.['required']">Champ obligatoire</mat-error>
        <input matInput id="age" type="number" formControlName="age">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Personne ou Personnage Préféré</mat-label>
        <mat-error *ngIf="userForm.controls['hero']?.errors?.['required']">Champ obligatoire</mat-error>
        <input matInput id="hero" type="text" formControlName="hero">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Personne ou Personnage Préféré</mat-label>
        <mat-error *ngIf="userForm.controls['hero']?.errors?.['required']">Champ obligatoire</mat-error>
        <mat-select formControlName="couleur">
          <mat-option value="red">Rouge</mat-option>
          <mat-option value="green">Vert</mat-option>
          <mat-option value="blue">Blue</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <span>{{result}}</span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Annuler</button>
  <button mat-button (click)="submit()">Créer</button>
</div>
