form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card-container {
  display: flex;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.form-container {
  width: 500px;
  padding: 20px;
}
